@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 200, 6%, 10%;
    --card: 0 0% 100%;
    --card-foreground: 200, 6%, 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 200, 6%, 10%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 34, 10%, 86%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 34, 10%, 86%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 200, 6%, 10%;
    --radius: 0.5rem;
    --light-1: 0, 0%, 25%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 200, 6%, 10%;
    --foreground: 34, 10%, 86%;
    --card: 200, 6%, 10%;
    --card-foreground: 34, 10%, 86%;
    --popover: 200, 6%, 10%;
    --popover-foreground: 34, 10%, 86%;
    --primary: 34, 10%, 86%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 34, 10%, 86%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 34, 10%, 86%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --light-1: 0, 0%, 60%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

body {
  --white: #fffdfa;
  --black: #171717;
  --c1: #f2a139;
  --c2: #652d19;
  --c3: #581716;
  --c4: #430f17;
  --c5: #3a150e;
  --c6: #3b9d50;
}

body {
  font-family: var(--font-regular);
}

.font-thin {
  font-family: var(--font-thin);
}

.font-extralight {
  font-family: var(--font-extralight);
}

.font-light {
  font-family: var(--font-light);
}

.font-regular {
  font-family: var(--font-regular);
}

.font-medium {
  font-family: var(--font-medium);
}

.font-semibold {
  font-family: var(--font-semibold);
}

.font-bold {
  font-family: var(--font-bold);
}

.font-extrabold {
  font-family: var(--font-extrabold);
}

.font-black {
  font-family: var(--font-black);
}

.font-logo {
  font-family: var(--font-logo);
}

@layer {
  body {
    @apply bg-background text-foreground;
  }

  .loading button {
    display: none;
  }
  .slide button {
    display: none;
  }
}

.line-break {
  @apply bg-border w-full h-[1px];
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.head-text {
  @apply text-xl mobile:text-2xl tablet:text-3xl text-light-1;
}
